@using System.Web
@using System.Text.RegularExpressions

@model _OneRangeCriteriaModel

@{
    string uniqueId = Regex.Replace(Model.CurrentPropertyName, "[ ().-]+", "");
}

<div class="mb-3">
    <div class="form-check form-switch mb-2">
        <input class="form-check-input" type="checkbox" id="property_@uniqueId" autocomplete="off"
               data-bs-toggle="collapse" data-bs-target="#collapse_@uniqueId" aria-expanded="false" aria-controls="collapse_@uniqueId">
        <label class="form-check-label" for="property_@uniqueId">@Model.CurrentPropertyName</label>
    </div>
    <div class="collapse" id="collapse_@uniqueId">
        <div class="card card-body">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <label class="form-label">@Html.Raw(Model.RangeLabel)</label>
                        <div class="input-group input-group-sm">
                            <input type="number" step="any" class="form-control RangeLeft" name="@Model.CurrentPropertyName:@Model.RangeName левая" required>
                            <span class="input-group-text">&le; @Model.RangeSymbol &le;</span>
                            <input type="number" step="any" class="form-control RangeRight" name="@Model.CurrentPropertyName:@Model.RangeName правая" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>