@using System.Web
@using System.Text.RegularExpressions

@model _RangesByParamsModel

@{
    string uniqueId = Regex.Replace(Model.CurrentPropertyName, "[ ().-]+", "");
}

<div class="mb-3">
    <div class="form-check form-switch mb-2">
        <input class="form-check-input" type="checkbox" id="property_@uniqueId" autocomplete="off"
               data-bs-toggle="collapse" data-bs-target="#collapse_@uniqueId" aria-expanded="false" aria-controls="collapse_@uniqueId">
        <label class="form-check-label" for="property_@uniqueId">@Model.CurrentPropertyName</label>
    </div>
    <div class="collapse" id="collapse_@uniqueId">
        <div class="card card-body">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <label class="form-label">По параметру:</label>
                        <div class="pb-2">
                        @for (int i = 0; i < Model.NumberOfParams; i++)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="@Model.CurrentPropertyName:параметр" id="input_@(uniqueId + Model.RangeSymbols[i])" value="@Model.RangeSymbols[i]" data-param-name="@uniqueId" data-param-target="@(uniqueId + Model.RangeSymbols[i])" required>
                                <label class="form-check-label" for="input_@(uniqueId + Model.RangeSymbols[i])">@Model.RangeSymbols[i]</label>
                            </div>
                        }
                        </div>

                        @for (int i = 0; i < Model.NumberOfParams; i++)
                        {
                            <label class="form-label">@Html.Raw(Model.RangeLabels[i])</label>
                            <div class="input-group input-group-sm pb-2">
                                <input type="number" step="any" class="form-control RangeLeft" name="@Model.CurrentPropertyName:@Model.RangeNames[i] левая" data-param-range-name="@uniqueId" data-param-range-id="@(uniqueId + Model.RangeSymbols[i])" required disabled>
                                <span class="input-group-text">&le; @Model.RangeSymbols[i] &le;</span>
                                <input type="number" step="any" class="form-control RangeRight" name="@Model.CurrentPropertyName:@Model.RangeNames[i] правая" data-param-range-name="@uniqueId" data-param-range-id="@(uniqueId + Model.RangeSymbols[i])" required disabled>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>