@model (string ChemicalName, IEnumerable<BookModel> Books)

<div class="mb-3">
    <h1 class="display-6">@Html.Raw(Model.ChemicalName)</h1>
    <h1 class="display-6">Литература</h1>
</div>
<div class="vstack gap-3">
    @foreach (BookModel book in Model.Books)
    {
        <div class="bg-light border">
            @(book.BookNumber).
            @if (book.Authors != null)
            {
                <b>@Html.Raw(book.Authors) </b>
            }
            @if (book.ArticleName != null)
            {
                <i>@Html.Raw(book.ArticleName). </i>
            }
            @if (book.BookNameAndPages != null)
            {
                <span>// @Html.Raw(book.BookNameAndPages). </span>
            }
            @if (book.DoiLink != null)
            {
                <span>DOI: <a href="https://dx.doi.org/@book.DoiLink" target="_blank">@book.DoiLink</a></span>
            }
        </div>
    }
</div>