@{
    Layout = "_MinBootstrapLayout";
}
@model BookModel
@{
    BookModel book = Model;
}
<div class="container p-3">
    <div class="bg-light border">
        @(book.BookNumber).
        @if (book.Authors != null)
        {
            <b>@Html.Raw(book.Authors) </b>
        }
        @if (book.ArticleName != null)
        {
            <i>@Html.Raw(book.ArticleName). </i>
        }
        @if (book.BookNameAndPages != null)
        {
            <span>// @Html.Raw(book.BookNameAndPages). </span>
        }
        @if (book.DoiLink != null)
        {
            <span>DOI: <a href="https://dx.doi.org/@book.DoiLink" target="_blank">@book.DoiLink</a></span>
        }
    </div>
</div>